body {
    font-family: "Roboto", serif;
}

.circle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #000
}